<footer class="footer">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 col-xl-3 order-1">
				@@include('../bem-blocks/_logo.html', { class: "footer__logo" })
				<a href="./privacy-policy.html" class="footer-privacy">Политика конфиденциальности</a>
			</div>
			<div class="col-md-8 col-xl-6 order-xl-2 order-3 mt-4 ms-auto me-auto">
				<div class="footer-copyrights">Copyright © 2023 «КИС» Все права защищены</div>
			</div>
			<div class="col-md-6 col-xl-3 order-xl-3 order-2">
				<a href="https://business-up.org/" class="footer__image">
					<img src="./img/business-up.svg" alt="" />
				</a>
			</div>
		</div>
	</div>
</footer>
